
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 10px;

}
#timeremaining{
    font-size: small;
    text-align: right;
}

h2 {
    text-align: center;
    display: inline;
}

div {
    text-align: center;
}

.answers {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}


.item {
    flex: 1;
    justify-content: space-around;
}

.button {
    margin: 10px;
}

.button-group {
    text-align: center;
}

button:hover {
    background-color: black;
    color: white;
}

.result {
    text-decoration: wavy;
}

